html{
    background-color: #ffe8f0;
}

body{
    margin: 0;
}

header{
    background-color: rgb(255, 192, 203);
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 5px rgba(230, 97, 179, 0.4);
}

.navbar{
    display: flex;
    text-decoration: none;
    padding-bottom: 15px;
    gap: 20px;
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#flowers{
    display: flex;
    gap: 100px;
    align-items: center;
}

#image{
    height: 500px;
    border-radius: 50px;
}

.flower-img{
    display: flex;
    align-items: center;
    border-radius: 15px;
    height: 250px;
}

#big-question{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(228, 62, 125);
}

.options{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.letter-buttons{
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border-color: red;    
    border-width: 3px;
    border-style: solid;
    cursor: pointer;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    opacity: 0.5;
    transition: background-color 0.2s, opacity 0.2s;
}

.letter-buttons:hover{
    background-color: red;
    box-shadow: 5px 5px 5px rgba(204, 114, 177, 0.5);
}

.letter-buttons:active{
    opacity: 0.3;
}