html{
    background-color: #ffe8f0;
}

body{
    margin: 0;
}

header{
    background-color: rgb(255, 192, 203);
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 5px rgba(230, 97, 179, 0.4);
}

.navbar{
    display: flex;
    text-decoration: none;
    gap: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0.2s;
}

.navbar a:hover{
    color: rgb(240, 70, 166);
}